
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

html {
    width: 100%;
    height: 100%;
    background: url('./имж/фон2.jpg') no-repeat;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%; 
    justify-content: space-around;
   
}

.box {
    width: 280px;
}

.boxforoptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrap-player {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e1e1e1;
    border-radius: 20px;
    width: 250px;
    height: 40px;       
    position: relative;
}

.prev {
    content: '';    
    border: none;
    position: absolute;
    left: 7%;    
    color: #fff;
    font-size: 23px;
    width: 27px;
    height: 27px;    
    background: url('./имж/icon-set-player-124657.png');
    background-position: 173px 566px;
    background-size: 320%;
    cursor: pointer;
}

.reset {
    content: '';    
    border: none;
    position: absolute;
    left: 27%; 
    top: 16%;  
    width: 27px;
    height: 27px;    
    background: url('./имж/icon-set-player-124657.png');
    background-position: 0px 536px;
    background-size: 320%;
    cursor: pointer;
}

.play {
    content: '';
    position: absolute;
    border: none;
    left: 52%;
    top: -19.1%;  
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background: url('./имж/icon-set-player-124657.png');
    background-position: 316px 755px;
    background-size: 350%;
    z-index: 2;
    cursor: pointer;
}

.bufer {
    position: absolute;
    border: none;
    left: 52%;
    top: -15.1%;  
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #e1e1e1;
    cursor: pointer;   
}

.stop {
    content: '';
    position: absolute;
    border: none;
    left: 52%;
    top: -19.1%;
    cursor: pointer; 
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background: url('./имж/icon-set-player-124657.png');
    background-position: 316px 815px;
    background-size: 350%;
    z-index: 2;  
    display: none;
}

.next {
    content: '';  
    border: none;
    position: absolute;
    left: 83%;
    cursor: pointer;    
    background-color: #666;
    color: #fff;
    font-size: 23px;
    width: 27px;
    height: 27px;
    background: url('./имж/icon-set-player-124657.png');
    background-position: 27px 566px;
    background-size: 320%;    
}

/* for playList start*/

.sidebar {
    position: fixed;
    width: 250px;
    height: 90%;
    background: #57626F;
    border: 4px solid #E0E5E4;
    border-radius: 10px;
    left: -260px;
    top: 10px;
    padding-bottom: 10px;  
    z-index: 3;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;       
}

.sidebar.active {
    left: 20px;
}

.menu-title {
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

.list {
    width: 80%;
    color: #e0edfa;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
    cursor: pointer;
    overflow: hidden; 
}

ul {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 85%;
}

.sidebar ul li a {
    color: #dfe5eb;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #59e9df;
}

.btn {
    position: absolute;
    left: 270px;
    top: 20px;
    background: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    width: 32px;
    height: 30px;
    cursor: pointer;
}

.btn1-box {
    position: relative;
}

.f1-sp {   
    position: absolute;    
    transform: rotate(45deg);
    top: 34%;
    left: 5%;
    width: 35px;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px;
   -moz-transition: all 600ms;
   -webkit-transition: all 600ms;
    transition: all 600ms;
}

.t1-sp {
    transform: rotate(-45deg);
    width: 40px;
    bottom: 33%;
    left: 6%;
    content: '';
    position: absolute;
    color: #fff;       
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px;
}


.btn-add {
    position: absolute;
    left: 190px;
    top: 25px;
    background: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}  
    
.btn-add:hover {
    opacity: 0.9;  
}
    
.btn:hover {
    background: #556270;
}

.btn:hover span {
    background: #fafafa;
}

.btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px;
}

.s-sp.active {
    display: none;    
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
}

.f-sp.active {
    position: absolute;    
    transform: rotate(45deg);
    top: 37%;
    left: 9%;
    width: 35px;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
}

.t-sp.active {
    transform: rotate(-45deg);
    width: 35px;
    bottom: 37%;
    left: 9%;
    position: absolute;    
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;  
}
/* for playList end*/

/* poster start */

.row { 
    display: flex;
    position: absolute;    
}

.item {    
    width: 150px;
    height: 150px;   
}

.wrap {
    margin: 0px auto;
    margin-top: 130px;
    margin-bottom: 45px;
    width: 200px;
    height: 235px;
    background-color: #e1e1e1;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    position: relative;   
}

.poster-autor {
    color: black;
    font-size: 16px;    
    top: 14px; 
    text-align: center;
    width: 180px;   
    position: absolute;
    overflow: hidden;
}

.poster-title {
    color: black;
    font-size: 18px;    
    top: 210px;
    text-align: center;
    width: 180px;   
    position: absolute;
    overflow: hidden;
}
/* poster end */

/* for progress bar start */

.progress {
   
    width: 250px;
    margin: 0px auto;  
    margin-bottom: 20px;  
    height: 10px;   
    border-radius: 5px;
    cursor: pointer; 
}

progress::-webkit-progress-bar {
    background: #e1e1e1;
}

progress::-webkit-progress-value {
    background: #68b275;
}
/* for progress bar end */

/* volum */
.vol {
    margin-top: 25px;
}

#volum {
    width: 250px;
    height: 10px;
    background: #8dcd8e;
    -webkit-appearance: none;
    outline: none;
    border-radius: 4px;
}

#volum::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #222;
    background: #b5eb97;
    cursor: pointer;
}
